@import "tailwindcss";

@font-face {
  font-family: 'Minecraft';
  src: url('./assets/Font/Minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.Robot {
  font-family: 'Minecraft', sans-serif;
}